.block__latest-overview {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }

  .latest-overview__column {
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 2.8rem;
      line-height: 3.5rem;
    }

    .post {
      margin-bottom: 3rem;
      display: flex;
      border: 1px solid $pink;
      border-radius: 12px;
      overflow: hidden;

      &:last-of-type {
        margin-bottom: 0;
      }

      &__thumbnail {
        width: 35%;
        position: relative;

        &::before {
          content: "";
          padding-top: 100%;
          display: block;
        }

        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          object-fit: cover;
        }
      }

      &__content {
        flex: 1;
        padding: 2rem;
        .category {
          margin-bottom: 1rem;
          display: block;
          font-family: $header-font-family;
          font-size: 1.4rem;
          line-height: 1.8rem;
          text-transform: uppercase;
          color: $blue;
        }

        h4 {
          margin: 0;
          font-size: 1.8rem;
          line-height: 2.3rem;
          color: $dark-blue;
        }

        .button.button--simple {
          margin: 2rem 0 0 0;
        }
      }
    }
  }
}
