---
layout: 'page'
title: 'Blog'
---

<section class="block block__hero block__hero--archive" id="hero">
  <div class="container">
    <div class="hero__content">
      <h1>Blog</h1>
    </div>
    <div class="hero__filters"></div>
  </div>
</section>

<section class="block block--bg-pink block--no-padding-top block__posts">
  <div class="container">
    <div class="posts__grid">
      {% assign blog_entries = site.posts %}
      {% for post in blog_entries %}
        <a class="posts__item" href="{{ post.url }}">
          <div class="posts__item-thumbnail">
            {% if post.featured_image != nil %}
              <img src="{{ post.featured_image }}">
            {% else %}
              <img alt="" src="../assets/images/placeholder-1.jpg"/>
            {% endif %}
          </div>
          <div class="posts__item-content">
            <span class="category">{{ post.categories | replace: "-", " " | replace: "[", "" | replace: "]", "" | replace: '"', "" }}</span>
            <h3>{{ post.title }}</h3>
            <span class="button button--simple">Read more</span>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>