---
layout: 'page'
title: 'Contact'
---

{% assign hero = site.data.contact.hero %}
<section class="block block__hero block__hero--standard block__hero--overflow" id="hero">

  <div class="hero__shape">
    <img alt="" src="../assets/images/news-bg.svg"/>
  </div>

  <div class="container">
    <div class="hero__content">
      {% if hero.heading != nil and hero.heading != '' %}
        <h1>{{ hero.heading }}</h1>
      {% endif %}

      {% if hero.content != nil and hero.content != '' %}
        {{ hero.content | markdownify }}
      {% endif %}

      {% if hero.buttons != nil and hero.buttons.size > 0 %}
        <div class="button-box">
          {% for item in hero.buttons %}
            {% if item.link != nil and item.link != '' %}
              <a class="button button--standard button--standard-anchor" href="{{ item.link }}">{{ item.text }}</a>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>

    {% if hero.image != nil and hero.image != '' %}
      <div class="hero__image">
        <img alt="" src="{{ hero.image }}"/>
      </div>
    {% endif %}
  </div>
</section>

{% assign contact = site.data.contact.contact %}
<section class="block block--no-padding-top block__contact">
  <div class="container">
    <div class="contact__forms">
      <div class="contact__form" name="Contact">
        <script type="text/javascript" src="https://form.jotform.com/jsform/232974831558367"></script>  
      </div>

      <div class="contact__form" name="Website Update Suggestions">
        <script type="text/javascript" src="https://form.jotform.com/jsform/232975502901355"></script>
      </div>
    </div>
  </div>
</section>