---
layout: 'page'
title: 'Events'
---

<section class="block block__hero block__hero--archive" id="hero">

  <div class="hero__shape">
    <img alt="" src="../assets/images/news-bg.svg"/>
  </div>

  <div class="container">
    <div class="hero__content">
      <h1>Events</h1>
    </div>
    <div class="hero__filters"></div>
  </div>
</section>

<section class="block pt-0 block__posts">
  <div class="container">
    <div class="posts__grid">
      {% assign currentTime = 'now' | date: '%H:%M %p' %}
      {% assign currentDate = 'now' | date: '%Y-%m-%d' %}
      {% assign upcomingEvents = site.events | sort: "start" %}

      {% for event in upcomingEvents %}
        {% assign eventStart = event.start | date: '%Y-%m-%d %H:%M %p' %}
        {% assign eventEnd = event.end | date: '%Y-%m-%d %H:%M %p' %}

        {% if eventEnd >= currentDate and eventStart >= currentTime %}
          <a class="posts__item posts__item--event" href="{{ event.url }}">
            <div class="posts__item-thumbnail">
              {% if event.image != nil %}
                <img src="{{ event.image }}">
              {% else %}
                <img alt="" src="../assets/images/placeholder-1.jpg"/>
              {% endif %}
            </div>
            <div class="posts__item-content">
              <h3>{{ event.title }}</h3>
              <span class="button button--simple">Read more</span>
            </div>
            <div class="posts__item-date">
              <p>
                {{ event.start | date: '%d' }}
                <span>{{ event.start | date: '%b' }}</span>
              </p>
            </div>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<section class="block block--bg-dark-blue block__posts">
  <div class="container">
    <div class="posts__intro">
      <h2>Previous Events</h2>
    </div>
    <div class="posts__grid">
      {% assign currentTime = 'now' | date: '%H:%M %p' %}
      {% assign currentDate = 'now' | date: '%Y-%m-%d' %}
      {% assign upcomingEvents = site.events | sort: "start" %}

      {% for event in upcomingEvents %}
        {% assign eventStart = event.start | date: '%Y-%m-%d %H:%M %p' %}
        {% assign eventEnd = event.end | date: '%Y-%m-%d %H:%M %p' %}

        {% if eventEnd < currentDate %}
          <a class="posts__item posts__item--event" href="{{ event.url }}">
            <div class="posts__item-thumbnail">
              {% if event.image != nil %}
                <img src="{{ event.image }}">
              {% else %}
                <img alt="" src="../assets/images/placeholder-1.jpg"/>
              {% endif %}
            </div>
            <div class="posts__item-content">
              <h3>{{ event.title }}</h3>
              <span class="button button--simple">Read more</span>
            </div>
            <div class="posts__item-date">
              <p>
                {{ event.start | date: '%d' }}
                <span>{{ event.start | date: '%b' }}</span>
              </p>
            </div>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>