---
layout: 'archive-news'
title: 'News'
permalink: '/news/category/ai-for-research-and-innovation/'
pagination:
  enabled: true
  collection: news
  category: ai-for-research-and-innovation
---

<div class="posts__grid">
  {% if paginator.posts.size > 0 %}
  {% for post in paginator.posts %}
  <a class="posts__item" href="{{ post.url }}">
    <div class="posts__item-thumbnail">
      {% if post.image != nil %}
      <img src="{{ post.image }}">
      {% else %}
      <img alt="" src="../assets/images/placeholder-1.jpg" />
      {% endif %}
    </div>
    <div class="posts__item-content">
      <span class="category">{{ post.categories | replace: "-", " " | replace: "[", "" | replace: "]", "" | replace: '"', "" }}</span>
      <h3>{{ post.title }}</h3>
      <span class="button button--simple">Read more</span>
    </div>
  </a>
  {% endfor %}
  {% else %}
  <h3>Apologies, there are no posts that can be found.</h3>
  {% endif %}
</div>

{% if paginator.total_pages > 1 %}
<div class="posts__pagination"></div>
  <ul class="pager">
    {% if paginator.previous_page %}
      <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
      </li>
    {% endif %}
    {% if paginator.next_page %}
      <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
      </li>
    {% endif %}
  </ul>
  </div>
{% endif %}