---
layout: "page"
title: "Partnerships"
---

{% assign hero = site.data.partnerships.hero %}
<section class="block block--bg-blue block__hero block__hero--standard" id="hero">
  <div class="container">
    <div class="hero__content">
      {% if hero.heading != nil and hero.heading != '' %}
        <h1>{{ hero.heading }}</h1>
      {% endif %}

      {% if hero.content != nil and hero.content != '' %}
        {{ hero.content | markdownify }}
      {% endif %}

      {% if hero.buttons != nil and hero.buttons.size > 0 %}
        <div class="button-box">
          {% for item in hero.buttons %}
            {% if item.link != nil and item.link != '' %}
              <a class="button button--standard button--standard-anchor" href="{{ item.link }}">{{ item.text }}</a>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>

    {% if hero.image != nil and hero.image != '' %}
      <div class="hero__image">
        <img alt="" src="{{ hero.image }}"/>
      </div>
    {% endif %}
  </div>
</section>

{% assign academic_state_partners = site.data.partnerships.academic_state_partners %}
<section class="block block__bg-white block__logo-grid">
  <div class="container">
    {% if (academic_state_partners.heading != nil and academic_state_partners.heading != '') or (academic_state_partners.content != nil and academic_state_partners.content != '') or (academic_state_partners.buttons != nil and academic_state_partners.buttons.size > 0) %}
      <div class="logo-grid__intro intro">
        {% if academic_state_partners.heading != nil and academic_state_partners.heading != '' %}
          <h2>{{ academic_state_partners.heading }}</h2>
        {% endif %}

        {% if academic_state_partners.content != nil and academic_state_partners.content != '' %}
          {{ academic_state_partners.content | markdownify }}
        {% endif %}

        {% if academic_state_partners.buttons != nil and academic_state_partners.buttons.size > 0 %}
          <div class="button-box">
            {% for item in academic_state_partners.buttons %}
              {% if item.link != nil and item.link != '' %}
                <a class="button button--standard" href="{{ item.link }}">{{ item.text }}</a>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% if academic_state_partners.logos != nil and academic_state_partners.logos.size > 0 %}
      <div class="logo-grid__grid">
        {% for item in academic_state_partners.logos %}
          {% if item.image != nil and item.image != '' %}
            {% if item.link != nil and item.link != '' %}
              <a class="logo-grid__grid-item" href="{{ item.link }}" rel="noreferrer" target="_blank">
                <img src="{{ item.image }}"/>
              </a>
            {% else %}
              <div class="logo-grid__grid-item">
                <img src="{{ item.image }}"/>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>

{% assign industry_partners = site.data.partnerships.industry_partners %}
<section class="block block__bg-white block__logo-grid">
  <div class="container">
    {% if (industry_partners.heading != nil and industry_partners.heading != '') or (industry_partners.content != nil and industry_partners.content != '') or (industry_partners.buttons != nil and industry_partners.buttons.size > 0) %}
      <div class="logo-grid__intro intro">
        {% if industry_partners.heading != nil and industry_partners.heading != '' %}
          <h2>{{ industry_partners.heading }}</h2>
        {% endif %}

        {% if industry_partners.content != nil and industry_partners.content != '' %}
          {{ industry_partners.content | markdownify }}
        {% endif %}

        {% if industry_partners.buttons != nil and industry_partners.buttons.size > 0 %}
          <div class="button-box">
            {% for item in industry_partners.buttons %}
              {% if item.link != nil and item.link != '' %}
                <a class="button button--standard" href="{{ item.link }}">{{ item.text }}</a>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% if industry_partners.logos != nil and industry_partners.logos.size > 0 %}
      <div class="logo-grid__grid">
        {% for item in industry_partners.logos %}
          {% if item.image != nil and item.image != '' %}
            {% if item.link != nil and item.link != '' %}
              <a class="logo-grid__grid-item" href="{{ item.link }}" rel="noreferrer" target="_blank">
                <img src="{{ item.image }}"/>
              </a>
            {% else %}
              <div class="logo-grid__grid-item">
                <img src="{{ item.image }}"/>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>

{% assign supporters = site.data.partnerships.supporters %}
<section class="block block__bg-white block__logo-grid">
  <div class="container">
    {% if (supporters.heading != nil and supporters.heading != '') or (supporters.content != nil and supporters.content != '') or (supporters.buttons != nil and supporters.buttons.size > 0) %}
      <div class="logo-grid__intro intro">
        {% if supporters.heading != nil and supporters.heading != '' %}
          <h2>{{ supporters.heading }}</h2>
        {% endif %}

        {% if supporters.content != nil and supporters.content != '' %}
          {{ supporters.content | markdownify }}
        {% endif %}

        {% if supporters.buttons != nil and supporters.buttons.size > 0 %}
          <div class="button-box">
            {% for item in supporters.buttons %}
              {% if item.link != nil and item.link != '' %}
                <a class="button button--standard" href="{{ item.link }}">{{ item.text }}</a>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% if supporters.logos != nil and supporters.logos.size > 0 %}
      <div class="logo-grid__grid">
        {% for item in supporters.logos %}
          {% if item.image != nil and item.image != '' %}
            {% if item.link != nil and item.link != '' %}
              <a class="logo-grid__grid-item" href="{{ item.link }}" rel="noreferrer" target="_blank">
                <img src="{{ item.image }}"/>
              </a>
            {% else %}
              <div class="logo-grid__grid-item">
                <img src="{{ item.image }}"/>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>