---
layout: 'page'
title: 'Home'
---

<section class="block block__hero block--bg-blue block__hero--search" id="hero">
  <div class="container">
    <div class="hero__content">
      <h1>Search</h1>
      <form action="/search.html" method="get">
        <input id="search-box" name="query" placeholder="Search query goes in here" type="text">
      </form>
    </div>
  </div>
</section>

<section class="block block--bg-pink block__posts">
  <div class="container">
    <div class="posts__grid" id="search-results"></div>
  </div>
</section>

<script>
  window.store = {
    {% for post in site.posts %}
  "{{ post.url | slugify }}": {
    "title": "{{ post.title | xml_escape }}",
      "url": "{{ post.url | xml_escape }}",
        "image": "{{ post.image }}",
      }
  {% unless forloop.last %}, {% endunless %}
  {% endfor %},

  {% for post in site.news %}
  "{{ post.url | slugify }}": {
    "title": "{{ post.title | xml_escape }}",
      "url": "{{ post.url | xml_escape }}",
        "image": "{{ post.image }}",
      }
  {% unless forloop.last %}, {% endunless %}
  {% endfor %},

  {% for post in site.events %}
    "{{ post.url | slugify }}": {
      "title": "{{ post.title | xml_escape }}",
        "url": "{{ post.url | xml_escape }}",
          "image": "{{ post.image }}",
      }
    {% unless forloop.last %}, {% endunless %}
    {% endfor %},

  {% for post in site.team %}
  "{{ post.url | slugify }}": {
    "title": "{{ post.name | xml_escape }}",
      "url": "{{ post.url | xml_escape }}",
        "image": "{{ post.image }}",
      }
  {% unless forloop.last %}, {% endunless %}
  {% endfor %},

  {% for post in site.research %}
    "{{ post.url | slugify }}": {
      "title": "{{ post.title | xml_escape }}",
        "url": "{{ post.url | xml_escape }}",
          "image": "{{ post.image }}",
      }
    {% unless forloop.last %}, {% endunless %}
    {% endfor %},

  {% for post in site.opportunities %}
  "{{ post.url | slugify }}": {
    "title": "{{ post.title | xml_escape }}",
      "url": "{{ post.url | xml_escape }}",
        "image": "{{ post.image }}",
      }
  {% unless forloop.last %}, {% endunless %}
  {% endfor %},

  };
</script>

<script type="text/javascript" src="{{site.baseurl}}/assets/js/lunr.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/search.js"></script>