<nav class="nav-primary">
  <ul>
    {% for item in site.data.nav.main_nav %}
      <li>
        {% if item.link != nil and item.link != '' %}
          <a href="{{ item.link }}">{{ item.label }}</a>
        {% else %}
          <span>{{ item.label }}</span>
        {% endif %}
        {% if item.submenu != nil %}
          <div class="submenu">
            {% if item.link != nil and item.link != '' %}
              <a href="{{ item.link }}">{{ item.label }}</a>
            {% endif %}
            {% for item in item.submenu. %}
              <a href="{{ item.link }}">{{ item.label }}</a>
            {% endfor %}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>

{% if site.data.nav.community_link != nil and site.data.nav.community_link != ''
%}
  <a class="button button--standard button--blue" target="_blank" href="{{ site.data.nav.community_link }}">Community</a>
{% endif %}
