<header class="obsv" role="banner">
  <div class="header__upper">
    <div class="container">
      <div class="row row--justified row--middle">
        <a class="university-of-cambridge" href="https://www.cam.ac.uk/" rel="noreferrer" target="_blank">
          <img alt="University of Cambridge" src="../assets/images/cambridge-university.png"/>
        </a>
        <a class="cambridge-uni-quicklinks-footer" href="#cambridge-uni-quicklinks-footer">Cambridge quick links</a>
        <div class="cambridge-uni-quicklinks">
          <a href="https://www.cam.ac.uk/about-the-university#study-at-cambridge/" rel="noreferrer" target="_blank">Study at Cambridge</a>
          <a href="https://www.cam.ac.uk/about-the-university#about-the-university/" rel="noreferrer" target="_blank">About the University</a>
          <a href="https://www.cam.ac.uk/research/" rel="noreferrer" target="_blank">Research at Cambridge</a>
        </div>
      </div>
    </div>
  </div>

  <div class="header__nav obsv">
    <div class="header__nav-inner">
      <div class="header__nav-inner__main">
        <div class="nav-inner__main-search">
          <form action="">
            <input id="" name="search" placeholder="Search..." type="text">
            <button class="button button--standard" type="submit">
              Search
              <svg class="w-6 h-6" fill="none" stroke-width="2" stroke="#05385e" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </form>

        </div>
        <div class="nav-inner__main-nav">
          <a href="/">
            <img alt="Logo" src="../assets/images/logo.png"/>
          </a>
          <nav>
            <a href="/about/">About</a>
            <a href="/news/">News</a>
            <a href="#">Incentives</a>
            <a href="#">AI at Cambridge</a>
            <a href="/blog/">Blog</a>
            <a class="button button--standard button--blue" href="#">Community</a>
          </nav>
        </div>
      </div>

      <button class="header__nav-inner__toggle">
        <svg class="w-6 h-6" fill="none" stroke-width="2" stroke="#000" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span></span>
      </button>

    </div>
  </nav>
</header>
