<header class="obsv" role="banner">
  <div class="header__upper">
    <div class="container">
      <div class="row row--justified row--middle">
        <a class="university-of-cambridge" href="{{ site.data.site.uoc_details.link }}" rel="noreferrer" target="_blank">
          <img alt="University of Cambridge" src="{{ site.data.site.uoc_details.logo }}"/>
        </a>
        <a class="cambridge-uni-quicklinks-footer" href="#cambridge-uni-quicklinks-footer">Cambridge quick links</a>
        <div class="cambridge-uni-quicklinks">
          {% for item in site.data.nav.top_bar %}
            {% if item.label != nil and item.label != '' %}
              <a href="{{ item.link }}" rel="noreferrer" target="_blank">{{ item.label }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="header__nav obsv">
    <div class="header__nav-inner">
      <div class="header__nav-inner__main">
        <div class="nav-inner__main-search">
          <form action="/search.html" method="get">
            <input id="search-box" name="query" placeholder="Search..." type="text">

            <button class="button button--standard" type="submit">
              Search
              <svg class="w-6 h-6" fill="none" stroke-width="2" stroke="#05385e" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </form>
        </div>
        <div class="nav-inner__main-nav">
          <a href="/">
            <img alt="Logo" src="{{ site.data.site.site_logo }}"/>
          </a>

          <div class="nav-inner__main-nav__inner">
            {% include nav-primary.html %}
            <button class="header__nav-inner__toggle">
              <svg class="w-6 h-6" fill="none" stroke-width="2" stroke="#000" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              <span></span>
            </button>
          </div>
        </div>
      </div>

    </div>
  </nav>
</header>
