header[role="banner"] {
  width: 100%;
  height: auto;
  background-color: $darkest;
  z-index: 9999;

  &.in-view {
    .nav-topbar-upper {
      @include animate(400ms, 1s, fadeIn);
      opacity: 1;
    }
  }

  .nav-topbar-upper {
    padding: 1.5rem 0;
    opacity: 0;

    @include bp(desktop) {
      padding: 2rem 0;
    }

    .university-of-cambridge img {
      width: 120px;
      height: auto;
      display: block;

      @include bp(desktop) {
        width: 180px;
      }
    }

    .cambridge-uni-quicklinks-footer {
      display: block;
      font-size: 1.2rem;
      line-height: normal;
      font-weight: 700;
      text-decoration: none;
      color: $lightest;

      @include bp(tablet) {
        display: none;
      }
    }

    .cambridge-uni-quicklinks {
      display: none;

      @include bp(tablet) {
        display: block;
      }

      a {
        display: inline-block;
        font-size: 1.2rem;
        line-height: normal;
        font-weight: 700;
        color: $lightest;
        text-decoration: none;

        &::after {
          content: "|";
          margin-left: 1rem;
          margin-right: 1rem;
          display: inline-block;
          color: $lightest;
        }

        &:last-child {
          &::after {
            content: "";
            display: none;
          }
        }
      }
    }
  }

  .nav-topbar-lower {
    padding: 2rem 0;
    transition: 400ms;
    will-change: padding-top;

    @include bp(desktop) {
      padding: 3rem 0 2rem 0;
    }

    .brand img {
      width: 160px;
      height: auto;
      display: block;

      @include bp(desktop) {
        width: 210px;
      }
    }
  }
}
