nav.nav-primary {
  display: flex;
  align-items: center;

  ul {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;

    li {
      margin-left: 1rem;

      @include bp(tablet) {
        margin-left: 2rem;
      }

      @include bp(desktop) {
        margin-left: 4rem;
      }

      @include bp(desktop-xl) {
        margin-left: 5rem;
      }

      &:hover {
        .submenu {
          clip-path: inset(0 0 0 0);
          visibility: visible;

          a,
          button,
          span {
            display: block;
          }
        }
      }

      a,
      span {
        font-family: $header-font-family;
        font-size: 1.4rem;
        line-height: 2rem;
        text-decoration: none;
        color: $dark-blue;

        @include bp(desktop) {
          font-size: 2rem;
          line-height: 2.5rem;
        }
      }

      .submenu {
        width: 100%;
        height: 101%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: rgba($lightest, 1);
        clip-path: inset(0 100% 0 0);
        transition: 400ms $cubic;

        a,
        button,
        span {
          margin-left: 1rem;
          font-family: $header-font-family;
          font-size: 1.4rem;
          line-height: 2rem;
          text-decoration: none;
          color: $dark-blue;
          display: none;

          @include bp(tablet) {
            margin-left: 2rem;
          }

          @include bp(desktop) {
            margin-left: 4rem;
            font-size: 2rem;
            line-height: 2.5rem;
          }

          @include bp(desktop-xl) {
            margin-left: 5rem;
          }
        }
      }
    }
  }
}

nav.nav-mobile {
  position: relative;
  transform: translateY(-60px);

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
      margin-bottom: 2rem;
      text-align: center;

      &:last-child {
        margin-bottom: 0;
        border-bottom: none;
      }

      a {
        font-size: 2.3rem;
        line-height: 2rem;
        color: $lightest;
        text-decoration: none;
        text-align: center;
      }
    }
  }
}

.menu-trigger {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  cursor: pointer;

  &.menu-open {
    .menu-trigger__button {
      span {
        background: 0 !important;

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
          width: 100%;
        }

        &::before,
        &::after {
          top: 0;
          background-color: $lightest;
        }

        &,
        &::before,
        &::after {
          transition: 300ms background $cubic 200ms, 300ms top $cubic,
            300ms transform $cubic 300ms;
        }
      }
    }
  }

  p {
    margin: 0 1rem 0 0;
    display: block;
    font-size: 2rem;
    line-height: 2.6rem;
    letter-spacing: 0.17px;
    color: $lightest;

    @include bp(tablet) {
      margin: 0 2rem 0 0;
    }
  }

  .menu-trigger__button {
    width: 30px;
    height: 20px;
    order: 2;
    position: relative;
    display: block;
    transition: 600ms $cubic;
    cursor: pointer;
    background: transparent;
    border: none;

    span {
      &,
      &::before,
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 0;
        background: $lightest;
        transition: 300ms background $cubic, 300ms top $cubic 200ms,
          200ms transform $cubic;
      }

      &::before {
        top: -10px;
      }

      &::after {
        top: 10px;
      }

      &::before,
      &::after {
        transform: rotate(0deg);
      }

      &.mobile-menu-active {
        background: 0 !important;

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
          width: 100%;
        }

        &::before,
        &::after {
          top: 0;
          background-color: $lightest;
        }

        &,
        &::before,
        &::after {
          transition: 300ms background $cubic 200ms, 300ms top $cubic,
            300ms transform $cubic 300ms;
        }
      }
    }
  }
}
