/*
*
* Posts
*
*/

// Generic Latest Block
.block__posts {
}

// Posts Grid
.posts__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;

  @include bp(tablet) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
  }

  @include bp(desktop) {
    grid-gap: 3rem;
  }
}

// Post Grid Item
.posts__item {
  background-color: $lightest;
  border-radius: 12px;
  text-decoration: none;
  overflow: hidden;

  &-thumbnail {
    width: 100%;
    height: auto;
    position: relative;
    display: block;

    &::before {
      content: "";
      padding-top: 50%;
      display: block;

      @include bp(tablet) {
        padding-top: 65%;
      }
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      object-fit: cover;
    }
  }

  &-content {
    padding: 1.5rem;

    @include bp(tablet) {
      padding: 2rem;
    }

    @include bp(desktop) {
      padding: 3rem;
    }

    .category {
      margin-bottom: 0.5rem;
      display: block;
      font-family: $header-font-family;
      font-size: 1.4rem;
      line-height: 2rem;
      text-transform: uppercase;
      color: $blue;

      @include bp(desktop) {
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        line-height: 2.2rem;
      }

      @include bp(desktop-xl) {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }

    h3 {
      margin-bottom: 0;
      font-size: 2rem;
      line-height: 2.4rem;

      @include bp(desktop) {
        font-size: 2.4rem;
        line-height: 3rem;
      }

      @include bp(desktop-xl) {
        font-size: 2.8rem;
        line-height: 3.5rem;
      }
    }

    .button.button--simple {
      margin-top: 2rem;
      font-size: 1.6rem;
      line-height: 2.2rem;

      @include bp(desktop) {
        margin-top: 3rem;
        font-size: 2rem;
        line-height: 2.6rem;
      }

      @include bp(desktop-xl) {
        margin-top: 5rem;
        font-size: 2.4rem;
        line-height: 3rem;
      }
    }
  }
}
