/*
*
* Posts
*
*/

.blog {
  .block__hero {
    overflow: visible;
  }
}

// Generic Latest Block
.block__posts {
  &.block--bg-dark-blue {
    .posts__item {
      &-content {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          color: $dark-blue;
        }

        p,
        li,
        a:not(.button) {
          color: $primary;
        }
      }
    }
  }

  .posts__intro {
    margin-bottom: 4rem;
  }
}

// Posts Grid
.posts__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;

  @include bp(tablet) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
  }

  @include bp(desktop) {
    grid-gap: 3rem;
  }

  &.posts__grid--with-events {
    .posts__grid--posts {
      order: 2;

      @include bp(desktop) {
        grid-column: 1/3;
        order: 1;
        display: flex;
        flex-direction: column;
      }

      h2 {
        margin: 0 0 4.5rem 0;
        padding-bottom: 2rem;
        grid-column: 1/3;
        border-bottom: 2px solid $primary;
        font-size: 2.8rem;
        line-height: 3.5rem;
      }

      .posts__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;

        @include bp(tablet) {
          grid-template-columns: 1fr 1fr;
          grid-gap: 2rem;
        }

        @include bp(desktop) {
          grid-gap: 3rem;
        }
      }
    }

    .posts__grid--events {
      order: 1;

      @include bp(desktop) {
        grid-column: 3/4;
        order: 2;
        display: flex;
        flex-direction: column;
      }

      h2 {
        margin: 0 0 4.5rem 0;
        padding-bottom: 2rem;
        border-bottom: 2px solid $primary;
        font-size: 2.8rem;
        line-height: 3.5rem;
      }

      .posts__sticky {
        @include bp(desktop) {
          position: sticky;
          top: 15rem;
        }
      }
    }
  }
}

// Posts Pagination
.posts__pagination {
  margin-top: 4rem;

  @include bp(tablet) {
    margin-top: 6rem;
  }

  @include bp(desktop) {
    margin-top: 10rem;
  }

  ul {
    margin: -1rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    @include bp(desktop-xl) {
      margin: -2rem;
    }

    li {
      margin: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $dark-blue;
      border-radius: 3px;
      transition: 400ms $cubic;

      @include bp(desktop-xl) {
        margin: 2rem;
      }

      &.selected {
        background-color: $lightest;
      }

      &:hover {
        background-color: $lightest;
      }

      &.previous,
      &.next {
        border: none;

        &:hover {
          background-color: transparent;
        }

        a,
        button {
          width: auto;
          height: auto;
          margin: 0;
          padding: 0;
          background: transparent;
          border: none;
          box-shadow: none;

          svg {
            width: 25px;
            height: auto;
            display: block;

            @include bp(desktop-xl) {
              width: 30px;
            }
          }

          &.disabled {
            cursor: not-allowed;
            opacity: 0.5;
          }
        }
      }

      &.previous {
        a,
        button {
          transform: rotate(90deg);
        }
      }

      &.next {
        a,
        button {
          transform: rotate(-90deg);
        }
      }

      a,
      button {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 2.6rem;
        font-weight: 700;
        line-height: 2.8rem;
        color: $dark-blue;

        @include bp(desktop-xl) {
          width: 50px;
          height: 50px;
          font-size: 3rem;
          line-height: 3.2rem;
        }
      }
    }
  }
}

// Post Grid Item
.posts__item {
  background-color: $lightest;
  border-radius: 12px;
  text-decoration: none;
  overflow: hidden;

  &.posts__item--event {
    position: relative;

    .posts__item-date {
      padding: 1rem 1.5rem;
      position: absolute;
      top: 2.5rem;
      left: 2.5rem;
      background-color: $dark-blue;
      border-radius: 8px;

      p {
        margin: 0;
        font-family: $header-font-family;
        font-size: 3.5rem;
        line-height: 4rem;
        letter-spacing: 4px;
        text-transform: uppercase;
        text-align: center;
        color: $lightest;

        span {
          display: block;
          font-size: 1.5rem;
          line-height: 1.9rem;
          letter-spacing: 1.71px;
        }
      }
    }
  }

  &-thumbnail {
    width: 100%;
    height: auto;
    position: relative;
    display: block;

    &::before {
      content: "";
      padding-top: 50%;
      display: block;

      @include bp(tablet) {
        padding-top: 65%;
      }
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      object-fit: cover;
    }
  }

  &-content {
    padding: 1.5rem;

    @include bp(tablet) {
      padding: 2rem;
    }

    @include bp(desktop) {
      padding: 3rem;
    }

    .category {
      margin-bottom: 0.5rem;
      display: block;
      font-family: $header-font-family;
      font-size: 1.4rem;
      line-height: 2rem;
      text-transform: uppercase;
      color: $blue;

      @include bp(desktop) {
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        line-height: 2.2rem;
      }

      @include bp(desktop-xl) {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }

    h3 {
      margin-bottom: 0;
      font-size: 2rem;
      line-height: 2.4rem;

      @include bp(desktop) {
        font-size: 2.4rem;
        line-height: 3rem;
      }

      @include bp(desktop-xl) {
        font-size: 2.8rem;
        line-height: 3.5rem;
      }
    }

    .button.button--simple {
      margin-top: 2rem;
      font-size: 1.6rem;
      line-height: 2.2rem;

      @include bp(desktop) {
        margin-top: 3rem;
        font-size: 2rem;
        line-height: 2.6rem;
      }

      @include bp(desktop-xl) {
        margin-top: 5rem;
        font-size: 2.4rem;
        line-height: 3rem;
      }
    }
  }
}

// Post Grid Item (Small as seen on latest overview blocks)
.post {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  background: $lightest;
  border: 1px solid $pink;
  border-radius: 12px;
  text-decoration: none;
  overflow: hidden;

  @include bp(desktop) {
    margin-bottom: 3rem;
    flex-direction: row;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &__thumbnail {
    width: 100%;
    position: relative;

    @include bp(desktop) {
      width: 35%;
    }

    &::before {
      content: "";
      padding-top: 56.25%;
      display: block;

      @include bp(desktop) {
        padding-top: 100%;
      }
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      object-fit: cover;
    }
  }

  &__content {
    width: 100%;
    padding: 2rem;

    @include bp(desktop) {
      flex: 1;
      width: auto;
    }

    .category {
      margin-bottom: 1rem;
      display: block;
      font-family: $header-font-family;
      font-size: 1.4rem;
      line-height: 1.8rem;
      text-transform: uppercase;
      color: $blue;
    }

    h4 {
      margin: 0;
      font-size: 1.8rem;
      line-height: 2.3rem;
      color: $dark-blue;
    }

    .button.button--simple {
      margin: 2rem 0 0 0;
    }
  }
}

// Post Single
.block__post-single {
  background: $lightest;
  
  .post-single__body {
    &-content {
      p,
      li,
      a:not(.button) {
        font-size: 2.2rem;
        line-height: 2.8rem;
        color: $primary;
      }
    }

    &-socials {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      a {
        width: 80px;
        height: auto;
        margin-bottom: 1rem;
        text-decoration: none;

        svg {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
  }
}
