// Custom Button Styles
.button-box {
  margin: 0 -1.5rem -3rem -1.5rem;
  display: flex;
  justify-content: flex-start;
}

.button {
  &.button--standard {
    margin: 0 1.5rem 3rem 1.5rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    border-radius: 32px;
    background-color: $green;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-decoration: none;
    color: $dark-blue;

    @include bp(tablet) {
      padding: 2rem;
    }

    &.button--blue {
      background-color: $blue;
      color: $lightest;
    }

    &.button--standard-anchor {
      &::after {
        content: "";
        width: 24px;
        height: 21px;
        margin-left: 1rem;
        display: block;
        background-image: url("../../assets/images/arrow.svg");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}
