---
layout: page
---

<section class="block block__hero block__hero--large" id="hero">
    <div class="container">
        <div class="hero__head row row--justified row--middle">
            <a href="{{site.url}}" class="brand">
                <img class="brand" src="{{ site.data.site.site_logo }}" alt="Logo">
            </a>
            {% include menu-trigger.html %}
            {% include nav-primary.html %}
        </div>

        <div class="hero__content">
            {% if site.data.homepage.hero.title %}
            <h1>{{ site.data.homepage.hero.title }}</h1>
            {% endif %}
            {% if site.data.homepage.hero.content %}
            <p>{{ site.data.homepage.hero.content }}</p>
            {% endif %}
            {% if site.data.homepage.hero.link %}
            <a href="{{ site.data.homepage.hero.link }}" class="button button--white">Read More</a>
            {% endif %}
        </div>
    </div>
</section>