<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% seo %}
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/style.css">
  <script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/js/slick.js"></script>
</head>

<body class="layout-{{ page.layout }}{% if page.title %}  {{ page.title | slugify }}{% endif %}">
    {% include site-header.html %}
    <main class="main">
      <section class="block block__hero block__hero--archive" id="hero">
        <div class="container">
          <div class="hero__content">
            <h1>{{page.title}}</h1>
            <a href="{{site.url}}/projects/" class="button button--standard">Back to projects</a>
          </div>
        </div>
      </section>

      <section class="block block__project-overview">
          <div class="container">
              <div class="row row--justified">
                  <div class="overview__heading column-m-12-nest column-t-3">
                      <h2 class="section-heading section-heading--left">Project Overview</h2>
                  </div>
                  <div class="overview__content column-m-12-nest column-t-8">
                      {{ page.content | markdownify }}
                  </div>
              </div>
          </div>
      </section>

      {% if page.researchers != nil %}
        {% assign team_entries = site.team %}
        <section class="block block__team">
          <div class="container">
            <div class="team__intro">
              <h2 class="section-heading section-heading--left">Researchers</h2>
            </div>
            
            <div class="team__grid team__grid--leadership active">
              {% for author in page.researchers %}
                {% assign authorName = author %}
                {% for post in team_entries %}
                  {% if post.slug == authorName or post.name == authorName %}
                    <a href="{{ post.url }}" class="team__member">
                      <div class="team__member-image">
                        {% if post.image != nil %}
                        <img src="{{ post.image }}">
                        {% else %}
                        <img alt="" src="../assets/images/placeholder-1.jpg" />
                        {% endif %}
                      </div>
                      <div class="team__member-content">
                        <h3>{{ post.name }}</h3>
                        <p>{{ post.position }}</p>
                      </div>
                    </a>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </div>
          </div>
        </section>
      {% endif %}
    </main>
    {% include site-footer.html %}
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/main.js"></script>
</body>

</html>